<div class="container-fluid about py-5" dir="rtl">
    <div class="container py-5">
        <div class="row g-5 mb-5">
            <div class="col-xl-6">
                <div class="row g-4">
                    <div class="col-6">
                        <img src="img/about-2.jpg" class="img-fluid h-100 wow zoomIn" data-wow-delay="0.1s"
                             alt="">
                    </div>
                    <div class="col-6">
                        <img src="img/events-3.jpg" class="img-fluid pb-3 wow zoomIn" data-wow-delay="0.1s"
                             alt="">
                        <img src="img/blog-mini-1.jpg" class="img-fluid pt-3 wow zoomIn" data-wow-delay="0.1s"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="fs-5 text-uppercase text-primary">عن سبيل</h1> 
                 <h1 class="display-5 pb-4 m-0">فمن سلك طريقًا يلتمس فيها علمًا سهّل الله له طريق الآخرة</h1>
                <p class="pb-4">
                    تعمق في محيط حكمة القرآن، حيث كل آية كدرة من الهداية تضيء طريقنا.
                </p>
                <div class="row g-4 mb-4">
                    <div class="col-md-6">
                        <div class="ps-3 d-flex align-items-center justify-content-end">
                            <span class="bg-primary btn-md-square rounded-circle mt-4 me-2"><i
                                    class="fa fa-eye text-dark fa-4x mb-5 pb-2"></i></span>
                            <div class="ms-4">
                                <h5>رؤيتنا</h5>
                                <p>
                                    فهم القرآن الكريم رحلة استنارة تؤدي إلى النمو الروحي والارشاد.
                                </p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ps-3 d-flex align-items-center justify-content-end">
                            <span class="bg-primary btn-md-square rounded-circle mt-4 me-2"><i
                                    class="fa fa-flag text-dark fa-4x mb-5 pb-2"></i></span>
                            <div class="ms-4">
                                <h5>رسالتنا</h5>
                                <p>
                                    جعل الجميع يستكشف القرآن الكريم.
                                </p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-3 mb-4">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="img/about-child.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div class="col-6">
                            <p class="mb-0">
                                نعتز بالقرآن كمصدر نهائي للنور والهداية،
                                يرشدنا عبر تعقيدات الحياة.
                            </p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center bg-primary py-5 wow fadeIn" data-wow-delay="0.1s" dir="rtl">
            <div class="row g-4 align-items-center">
                <div class="col-lg-3">
                    <i class="fa fa-mosque fa-5x text-white"></i>
                </div>
                <div class="col-lg-7 text-center text-lg-end">
                    <h1 class="mb-0" style="color: #f5eff8e7">  الفهم الصحيح للقرآن رحلة نحو الإضاءة، تقود إلى النمو الروحي والهداية</h1>
                </div>
                <div class="col-lg-2">
                    <i class="fa fa-mosque fa-5x text-white"></i>
                </div>
            </div>
        </div>
    </div> 
</div>     
       
