<div class="container-fluid footer pt-1 wow fadeIn" data-wow-delay="0.1s" dir="rtl">
    <div class="container py-1 border-secondary ">       
          <p class="copy_right text-center">
            جميع الحقوق محفوظة &copy; <script>document.write(new Date().getFullYear());</script> | تم إنشاء هذا القالب باستخدام <i class="fa fa-heart-o" aria-hidden="true"></i> <a class="border-bottom" href="https://htmlcodex.com">كود HTML</a>
            </p>
    </div>
</div>
  
  