<div class="container-fluid fixed-top" dir="rtl">
    <div class="container topbar d-none d-lg-block">
        <div class="topbar-inner">
            <div class="row gx-0">
                <p style="color: #551861f6">استكشف منصة التفسير القرآني الشامل وتقييم مهارات الحفظ</p>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-lg py-3">
            <a href="/" class="navbar-brand">
                <h1 class="mb-0"><span class="text-primary">سبيل</span></h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav ms-lg-auto mx-xl-auto">
                    <a href="/" class="nav-item nav-link active">الرئيسية</a>
                    <a href="/about" class="nav-item nav-link">عنا</a>
                    <a href="/activity" class="nav-item nav-link">الأنشطة</a>
                    <a href="/contact" class="nav-item nav-link">اتصل بنا</a>
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">صفحات</a>
                        <div class="dropdown-menu m-0 rounded-0">
                            <a href="/test" class="dropdown-item">اختبر نفسك</a>
                            <a href="/QA" class="dropdown-item">اسأل سؤال</a>
                            <a href="/search" class="dropdown-item">بحث</a>
                            <a href="/Plan_memorize_Qur’an" class="dropdown-item">خطه حفظ القران</a>
                        </div>
                    </div>
                </div>
               
            </div>
        </nav>
    </div>
</div>
